body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.todo-title{
  cursor: pointer;
}
.completed-todo{
  text-decoration:line-through ;
}
.tab-list > span{
  padding: 5px 8px;
  border: 1px solid rgb(60,124,165);
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;  
}

.tab-list > span.active{
  background-color: rgb(60,124,165);
  color: white;
  cursor: pointer; 
  ;
}
