body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.todo-title{
  font-size: 18px;
  cursor: pointer;
}

.completed-todo{
  text-decoration:line-through ;
}

.tab-list > span {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #007bff;
  color: #007bff;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.tab-list > span.active {
  background-color: #007bff;
  color: white;
}

.btn-add {
  font-size: 18px;
  border: 2px dashed #007bff;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color:  #007bff;
  cursor: pointer;
  transition: all 0.1s;
}

.btn-add:hover {
  background: #007bff; 
  border-color:#007bff;
  color: white;
}
